:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.layout-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px); // navbar height
  width: 100%;
}

app-sidebar {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  background-color: #f6f6f6;
  padding: 24px;
  overflow: auto;
}
